<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore your jobs now😎</title>
    <link rel="icon" type="image/gif/png" href="../static/images/job_junction-logo-head.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7bb9495e7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/growthzonestyles.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>

 
<script>
    window.watsonAssistantChatOptions = {
      integrationID: "c9539449-0fd4-4aca-8b8b-3a6c109a71fa", // The ID of this integration.
      region: "jp-tok", // The region your integration is hosted in.
      serviceInstanceID: "39284af4-f9b4-4159-be01-8ca534e21855", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>

</head>
<body id="body">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <div class="menu_icon" id="menu">
        <div class="first_div"></div>
        <div class="second_div"></div>
        <div class="third_div"></div>
    </div>

    <header>
        <div  class="brand_box" style="cursor: pointer;">
            <img onclick="location.href='/index';" src="../static/images/job_junction-main.png" alt="Job Junction Logo" />
        </div>
        <nav>
            <ul class="nav_links" id="nav_links">
                <li class="nav_link"><a href="/jobs">Skills 💥</a></li>
                            {% if session['email'] %}
                            <li class="nav_link special_link" id="special_link"><a href="/profile" id="contact_link">Your Profile 😎</a></li>
                            {% else %}
                            <li class="nav_link special_link" id="special_link"><a href="/register" id="contact_link">Login / Register</a></li>
                            {% endif %}
            </ul>
        </nav>
    </header>

    {% for datas in jobs %}

    {% if datas['company_name']==null %}
    <h3 style="color:blue;">It seems that api premium plan exceeds issue</h3><br><br>
   <h3><a href="https://www.google.com/search?q=it+jobs&oq=it+jobs&aqs=chrome..69i57j69i59l2j0i402l2j69i60l3.11302j0j7&sourceid=chrome&ie=UTF-8&ibp=htl;jobs&sa=X&ved=2ahUKEwiK56_-78v7AhV_5nMBHaRnA88Qkd0GegQIWBAB#fpstate=tldetail&htivrt=jobs&htiq=it+jobs&htidocid=Ypo0oW7b0MkAAAAAAAAAAA%3D%3D&sxsrf=ALiCzsZTxcg5P1yS1Ua_LkUV-d3-WEGbHw:1669466669452">click here to show more rows </a></h3> 
  {% else %}

  <div class="body">
    <div class="growths">
        <div class="growth" style="cursor:pointer;">
            <p class="growth_title">{{ datas['company_name'] }} 

                <span class="growth_category">Posted On : {{ datas['posted_date'] }}
    
                </span></p>
            <p class="growth_title">{{ datas['job_title'] }} <span class="growth_category">{{ datas['job_location'] }}</span></p>
            <p target="_blank" onclick="location.href=`{{ datas['company_url'] }}`" class="growth_title">Verify Company</p>
            <p target="_blank" onclick="location.href=`{{ datas['job_url'] }}`" class="growth_title">Apply here</p>
        </div>
    </div>
</div>

  {% endif %}
    {% endfor %}


</body>
</html>

